<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    
    <!-- Menu -->
    <div><a href="/index">Home</a> 
    &nbsp; &nbsp;
    <a href="/add">Add a Biz</a></div>
    <a href="/bizlist">Biz List</a></div>
    
    {% macro edit_field(field,catch_kwargs=true) %}
    <div class="control-group{% if field.errors  %} error {% endif %}">
        {{  field.label(class="control-label") }}
    <div class="controls">
        {{  field(**kwargs)  }}
        {% for error in field.errors %}
        <span class="help-inline">{{error}}</span>
        {% endfor %}
    </div>
    </div>
    {% endmacro %}

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
